.RowContainer {
    overflow-x: hidden;

}

.RowContainer > h3 {
    padding-top: 0;
    padding-left: 64px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: var(--dark-gold);
}

.CarouselContainer {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.CarouselContainer a {
    text-decoration: none;
}

.CarouselContainer .LeftArrow a {
    position: absolute;
    margin-top: 11rem;
    left: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-decoration: none;
    color: var(--black);
    background: rgba( 218, 181, 70, 0.7);
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.CarouselContainer .LeftArrow a:hover{
    transition: 0.5s ease-in-out;
    font-size: 5.3rem;
    background: rgba( 218, 181, 70, 1);
}

.CarouselContainer .RightArrow a {
    position: absolute;
    margin-top: 11rem;
    right: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    text-decoration: none;
    color: var(--black);
    background: rgba( 218, 181, 70, 0.7);
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.CarouselContainer .RightArrow a:hover{
    transition: 0.5s ease-in-out;
    font-size: 5.3rem;
    background: rgba( 218, 181, 70, 1);
}